<!DOCTYPE html>
<html>
  <head>
    <title>about</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="content">
      <p>
        keepitonthylow is a<br />
        curated pop-up event,<br />
        rooted in the appreciation<br />
        of auditory/visual art.
      </p>
    </div>
  </body>
</html>
