<!DOCTYPE html>
<html>
  <head>
    <title>about</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="content">
      <p>about page</p>
    </div>
  </body>
</html>
