<!DOCTYPE html>
<html>
  <head>
    <title>kiotl | archive</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/abp1ktb.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="content">
      <p>the archive will continue to grow as the collective grows</p>
      <p>for now enjoy this random photo of my dog, otis</p>
      <img src="/images/otis.png" width="300" height="auto" />
    </div>
  </body>
</html>
