<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="content">
      <p>not ready to be contacted :|</p>
    </div>
  </body>
</html>
