<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="content">
      <a href="https://www.instagram.com/keepitonthylow/" target="_blank"
        >instagram</a
      >
      <a href="mailto:keepitonthylow@gmail.com">e-mail</a>
    </div>
  </body>
</html>
