<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<!-- <h1>Nahhhh</h1>
<h2>the hamsters are taking a break</h2>
<pre>try coming back later or accessing another page...</pre> -->
