<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="https://use.typekit.net/abp1ktb.css" />
<div id="footer" style="background-color: #000000">
  <a href="/about">about </a>
  <a href="/contact">contact</a>
</div>
