<div id="footer">
  <center>
    <a href="/"> â† </a>
    <a href="/about"> about </a>
    <a href="https://www.instagram.com/keepitonthylow/" target="_blank"> ig </a>
    <a href="/contact"> contact </a>
    <a href="/help"> help </a>
    <a href="/privacy"> privacy </a>
  </center>
</div>
