<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="https://use.typekit.net/abp1ktb.css" />
<table bgcolor="black" width="100%">
  <div>
    <tr>
      <td width="5%" align="center"><a href="/music">music</a></td>
      <td width="5%" align="center"><a href="/visuals">visuals</a></td>
      <td width="5%" align="center">
        <a href="/">
          <div>
            <!-- <h2>keepitonthylow</h2> -->
            <img
              src="/images/kiotl_face_threshold_noborder.png"
              width="150"
              height="auto"
            />
          </div>
        </a>
      </td>
      <td width="5%" align="center"><a href="/archive">archive</a></td>
      <td width="5%" align="center"><a href="/shop">shop</a></td>
    </tr>
    <li><a href="/product">Products</a></li>
    <li><a href="/customer">Customers</a></li>
    <li><a href="/category">Categories</a></li>
    <li><a href="/supplier">Suppliers</a></li>
    <li><a href="/orderdetail">Order Details</a></li>
    <li><a href="/saleorder">Sale Orders</a></li>
  </div>
</table>
