<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="https://use.typekit.net/abp1ktb.css" />
<table bgcolor="black" width="100%">
  <div>
    <tr>
      <td width="5%" align="center"><a href="/music">music</a></td>
      <td width="5%" align="center"><a href="/visuals">visuals</a></td>
      <td width="5%" align="center">
        <a href="/">
          <div class="content">
            <h2>keepitonthylow</h2>
            <!-- <img
              src="/images/kiotl_face_threshold_white.png"
              width="100"
              height="auto"
            /> -->
          </div>
        </a>
      </td>
      <td width="5%" align="center"><a href="/archive">archive</a></td>
      <td width="5%" align="center"><a href="/shop">shop</a></td>
    </tr>
  </div>
</table>
