<!DOCTYPE html>
<html>
  <head>
    <title>keepitonthylow</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/abp1ktb.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1><%= passeddata %></h1>
  </body>
</html>
