<!DOCTYPE html>
<html>
  <head>
    <title>keepitonthylow</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/abp1ktb.css" />
  </head>
  <body bgcolor="black">
    <div>
      <table bgcolor="black" width="100%">
        <tr>
          <td><%- include("header") %></td>
        </tr>
        <tr>
          <td><%- body %></td>
          <!-- height="300" valign="top" //put in td open tag above -->
        </tr>
        <tr>
          <td><%- include("footer") %></td>
        </tr>
      </table>
    </div>
  </body>
</html>
