<!DOCTYPE html>
<html>
  <head>
    <title>kiotl | shop</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/abp1ktb.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="content">
      <p>mockup I did a few weeks ago</p>
      <img src = "/images/kiotl_shape_mockup.jpg" width="800px" height="auto"/>
      </div>
    </div>
  </body>
</html>
