<!DOCTYPE html>
<html>
  <head>
    <title>kiotl | visuals</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/abp1ktb.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="content">
      <iframe
        width="800"
        height="452"
        src="https://www.youtube.com/embed/U8zCU3Ue2kc?si=DcksodOdf1PbuZC8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </body>
</html>
