<div class="db">
<h1>Order Detail Record</h1>
  <form action="/orderdetail" method="post">
    <table>
      <tr>
        <td>Order Detail ID:</td>
        <td><input type="number" name="orderdetail_id" required /></td>
      </tr>
      <tr>
        <td>Order ID:</td>
        <td><input type="number" name="product_id" required /></td>
      </tr>
      <tr>
        <td>Sale Price:</td>
        <td><input type="number" name="saleprice" required /></td>
      </tr>
        <td>Quantity:</td>
        <td><input type="number" name="qty" required /></td>
      </tr>
    </table>
    <button type="submit">Save</button>
  </form>
</div>