<div class="db">
<h1>New Record</h1>
  <form action="/product" method="post">
    <table>
      <tr>
        <td>Product Name:</td>
        <td><input type="text" name="productname" required /></td>
      </tr>
      <tr>
        <td>Image:</td>
        <td><input type="text" name="prodimage" required /></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>
          <textarea
            name="description"
            rows="10"
            cols="30"
            placeholder="Description"
          ></textarea>
        </td>
      </tr>

      <tr>
        <td>Supplier ID:</td>
        <td><input type="number" name="supplier_id" required /></td>
      </tr>
      <tr>
        <td>Category:</td>
        <td><input type="number" name="category_id" required /></td>
      </tr>
      <tr>
        <td>Price:</td>
        <td><input type="text" name="saleprice" required /></td>
      </tr>
      <tr>
        <td>Status:</td>
        <td>
          <select name="status" required>
            <option selected disabled>Choose Status</option>
            <option>Available</option>
            <option>Discontinued</option>
            <option>Coming Soon</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Homepage Display:</td>
        <td><input type="checkbox" name="homepage" required /></td>
      </tr>
    </table>
    <button type="submit">Save</button>
  </form>
</div>