<div class="db">
  <h1>New Record</h1>
  <form action="/supplier" method="post">
    <table>
      <tr>
        <td>Supplier Name:</td>
        <td><input type="text" name="suppliername" required /></td>
      </tr>
      <tr>
        <td>Point of Contact:</td>
        <td>
          <input type="text" name="pointofcontact" required />
        </td>
      </tr>
      <tr>
        <td>Contact Info:</td>
        <td>
          <input type="text" name="contactinfo" required />
        </td>
      </tr>
      <tr>
        <td>Web Info:</td>
        <td>
          <input type="text" name="webinfo" required />
        </td>
      </tr>
    </table>
    <button type="submit">Save</button>
  </form>
</div>